@charset "utf-8";

/* =========================
Grid System
========================= */
.grid {
	display: grid;
	> div {
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	}
}

.grid--2 {
	grid-template-columns: repeat(2, 1fr);
}

.grid--3 {
	grid-template-columns: repeat(3, 1fr);
}

.gap-md {
	gap: 24px;
}

.gap-lg {
	gap: 40px;
}