@charset "utf-8";
/* _variables.scss */

$devices: (
	mobile: 320px,
	tablet: 768px,
	desktop: 1280px
);

//브라우저 최소 사이즈
$Br-max-width: 1980px;
$Br-min-width: 1280px;
$Br-min-height: 768px;

//레이아웃 사이즈
$layoutHeaderH: 60px;
$layoutFooterH: 40px;
$layoutSideW: 300px;
$leftSideW: 200px;
$linear-gradient: 10px;
$layoutPadding: 20px;
$content-top: 50px;
$tblTopHeight: 31px;
$gridPaging: 30px;
$gap10: 10px;
$gap15: 15px;
$gap20: 20px;
$gap25: 25px;
$gap30: 30px;
$divisionSpace: 42px;
$divisionGap: 15px;
$divisionW: 10px;

//폼요소와 높이 통일 버튼 아이콘등등에 사용
$icoSize: 20px;
$sizeS: 18px;
$sizeM: 26px; // 기본 크기
$sizeL: 36px;
$sizeXL: 48px;

/* svg Size */
$svgAllSize: 806px 1248px;
$svgIconSize: 832px 1872px; //svgIcon
$commSvg: 520px 494px;

//속성 - 용도 및 역할 기준
$G-color-point: #ff0078;

//용도 및 역할 기준 
$G-path-img: "../imgs/";
$G-path-comm: "../image/comm/";
$G-path-svg: "../image/svg/";
$G-path-logo: "../image/svg/logo/";
$G-path-icon-img: "../image/svg/ico-comm.svg";
$svg-size: 520px 494px;

// dhtmlX
$G-path-dhtml: "imgs/";
$G-path-dhtml-svg: "../../../../../module/image/svg/";

//로컬변수
$btn_area-width: 10px;

//font
$font-normal:  /*Roboto, RobotoDraft, -apple-system, BlinkMacSystemFont,'nsR','ngR', */ "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
$font-b: "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
$font-company: 'ngB';
$font-companyN: 'ngR';

:root {
	font-size: 62.5%;
	--font-size-xxs: 0.8rem;
	--font-size-xs: 1rem;
	--font-size-s: 1.2rem;
	--font-size-xm: 1.3rem;
	--font-size-m: 1.4rem;
	--font-size-l: 1.6rem;
	--font-size-xl: 1.8rem;
	--font-size-xxl: 2rem;

	--opacity-a0: 0;
	--opacity-a1: 1;
	--opacity-a01: .1;
	--opacity-a02: .2;
	--opacity-a03: .3;
	--opacity-a04: .4;
	--opacity-a05: .5;
	--opacity-a06: .6;
	--opacity-a07: .7;
	--opacity-a08: .8;
	--opacity-a09: .9;
} // 기본사이즈 10px

// @media (max-width: 1679px) {
//     :root {
//         --font-size-xxs: 0.8rem;
//         --font-size-xs: 1rem;
//         --font-size-s: 1.2rem;
//         --font-size-m: 1.4rem;
//         --font-size-l: 1.6rem;
//         --font-size-xl: 1.8rem;
//         --font-size-xxl: 2rem;
//     }
// } // 기본 12px;
// @media (min-width: 1680px) {
//     :root {
//         --font-size-xxs: 1rem;
//         --font-size-xs: 1.2rem;
//         --font-size-s: 1.4rem;
//         --font-size-m: 1.6rem;
//         --font-size-l: 1.8rem;
//         --font-size-xl: 2rem;
//         --font-size-xxl: 2.2rem;
//     }
// } // 기본 14px;

