/* =========================
logo 
========================= */
.only {
    font-size: 20px;
    color: #111;
    font-weight: 600;
    text-align: center;
}
.logo {
    font-size: 0;
    text-indent: -999em;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 30px;
}
.bok {
    background-image: url($G-path-img + 'company/bok.png');
    background-size: auto 36px;
} // 한국은행
.kbsec {
    background-image: url($G-path-img + 'company/kbsec.png');
}  // KB증권
.uplus {
    background-image: url($G-path-img + 'company/uplus.png');
} // LG U+
.ellotte {
    background-image: url($G-path-img + 'company/ellotte.png');
} // 엘롯데
.starbucks {
    background-image: url($G-path-img + 'company/starbucks.png');
    background-size: auto 50px;
} // 스타벅스 코리아
.hanwhalife {
    background-image: url($G-path-img + 'company/hanwhalife.jpg');
    background-size: auto 36px;
} // 한화생명
.hyundaicard {
    background-image: url($G-path-img + 'company/hyundaicard.svg');
} // 현대카드
.sam {
    background-image: url($G-path-img + 'company/sam.svg');
    background-size: auto 36px;
} // 교보문고 샘
.ksd {
    background-image: url($G-path-img + 'company/ksd.jpg');
    background-size: auto 36px;
} // 한국예탁결제원
.shinhanlife {
    background-image: url($G-path-img + 'company/shinhanlife.svg');
} // 신한생명
.eduhansol {
    background-image: url($G-path-img + 'company/eduhansol.png');
    background-size: auto 40px;
} // 한솔교육
.lotteon {
    background-image: url($G-path-img + 'company/lotteon.png');
} // 롯데온
.hy {
    background-image: url($G-path-img + 'company/hy.png');
    background-size: auto 36px;
} // 한국 야쿠르트
.kra {
    background-image: url($G-path-img + 'company/kra.svg');
    background-size: auto 40px;
} // 마사회
.kftc {
    background-image: url($G-path-img + 'company/kftc.png');
} // 금융결제원
.ollehtv {
    background-image: url($G-path-img + 'company/ollehtv.png');
} // 올레 TV
.niceinfo {
    background-image: url($G-path-img + 'company/niceinfo.gif');
} // 나이스신용평가정보
.galaxy {
    background-image: url($G-path-img + 'company/galaxy.png');
} // 제일모직 갤럭시
.blackgosi {
    background-image: url($G-path-img + 'company/blackgosi.png');
} // 한양학원
.lg-2012 {
    background-image: url($G-path-img + 'company/lg-2012.png');
} // LG 2012
.samsung-2014 {
    background-image: url($G-path-img + 'company/samsung-2014.png');
} // 삼성 2014
.utradehub {
    background-image: url($G-path-img + 'company/utradehub.png');
} //utradehub
.lotteins {
    background-image: url($G-path-img + 'company/lotteins.png');
} // 롯데손해보험
.comwel {
    background-image: url($G-path-img + 'company/comwel.png');
} // 근로복지공단
.myangel {
    background-image: url($G-path-img + 'company/myangel.svg');
} // 동양생명
.livead {
    background-image: url($G-path-img + 'company/livead.png');
    background-size: auto 20px;
} // live AD
.hyundaixteer {
    background-image: url($G-path-img + 'company/hyundaixteer.png');
    background-size: auto 20px;
} // Xteer
.kbs {
    background-image: url($G-path-img + 'company/kbs.svg');
} // kbs

/* =========================
Frontend 
========================= */
.html5 {
    background-image: url($G-path-img + 'frontend/Frontend.svg');
}
.css3 {
    background-image: url($G-path-img + 'frontend/css3.svg');
}
.scss {
    background-image: url($G-path-img + 'frontend/scss.svg');
}
.javascript {
    background-image: url($G-path-img + 'frontend/javascript.svg');
}
.jquery {
    background-image: url($G-path-img + 'frontend/jquery.svg');
}

/* =========================
Framework 
========================= */
.react {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url($G-path-img + 'Framework/react.svg');
    background-size: auto 100%;
    //@include recolor(#087ea4, 1);
}
.vue {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url($G-path-img + 'Framework/vue.png');
    background-size: auto 100%;
}

